* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;


}

#left {
    width: 50%;
    height: 100vh;

    background-color: #251e51;
}

#right {
    width: 50%;
    height: 100vh;

    background-color: #04091e;
    position: absolute;
    top: 0;
    right: 0;
}

img {
    width: 465px;
    position: absolute;
    top: 10%;
    right: 14%;
    height: auto;
    animation: fromLeft 3s;
    animation-delay: 1.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes fromRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(100px)
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }


}

#img {
    width: 100%;
    height: auto;
    bottom: 0;
}


/*navbar*/
.navbar {
    width: 100%;
    height: 60px;
    /* background-color: #251e51; */
    /* position: absolute; */
    top: 5;
    left: 0;
    padding: 0 25px;
    position: fixed;

}

.navbar .inner-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

}



.navbar .logo a {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 3px;
    color: #e4e4e4;


}

.navbar .logo a span {
    color: #fcb100;

}

.navbar .menu ul {
    display: flex;
    margin-top: 2rem;

}

.navbar .menu ul li a {
    display: block;
    width: 120px;
    margin-left: 3px;
    margin-right: 0px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    /* background-color: #fcb100; */
    color: #e4e4e4;
    padding: 10px;
    border-radius: 25px;
    transition: all 0.2s ease;

}

a:hover {
    text-decoration: none;
}

.navbar .menu ul li:last-child a {
    margin-right: 0;
}

.navbar .menu ul li a:hover,
.navbar .menu ul li a.active {
    background-color: #fcb100;

}

.head {

    position: absolute;
    top: 45%;
    left: 2%;
    height: auto;
    color: #fcb100;
}
.head h1 {
text-decoration: underline #e4e4e4;
animation: fromLeft 3s;
animation-delay: 1s;
opacity: 0;
animation-fill-mode: forwards;
}
@keyframes fromLeft {
0%{
    transform: translateX(100px);
    opacity: 0;
}
50%{
    transform: translateX(-100px)
}
100%{
    transform: translateX(0);
    opacity: 1;
}
}


.head h6 {
    color: #e4e4e4;
    line-height: 200%;
    animation: fromRight 3s;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes fromRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(100px)
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/*footer*/
footer {
    color: #e4e4e4;
    background-color: #f5ac01;
   
    
    
}
/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.flex-row{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
 ul {
    margin-bottom: 32px;
    flex-wrap: wrap;
    justify-content: center;
}
li {
    padding: 0 15px;
    margin-bottom: 16px;
}
a ,
a:hover{
    font-size: 14px;
    font-weight: 500;
    color: #e4e4e4;
}
i {
    cursor: pointer;
    font-size: 30px;
}
p{
    text-align: center;
    font-weight: 800;
}
footer i:hover{
    animation: wobble 3s infinite;
}
@keyframes wobble {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(10);
    }
    10% {
      transform: translateY(-10px);
    }
    20% {
      transform: translateY(-10px);
    }
}


/*login styling*/

