.services{
	margin: 90px auto;
	text-align: center;
}
h1{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	letter-spacing: 1px;
}
h1:after{
	content: "";
	background: whitesmoke;
	display: block;
	width: 150px;
	height: 3px;
	margin: 10px auto;

}
.icons{
	font-size: 40px;
	margin: 20px auto;
	padding: 20px;
	height: 80px;
	width: 80px;
	border: 1px solid black;
	border-radius: 50%;
}