/*
#04091E dark purple
10:46
#FCB100 yellow
10:47
#251E51 purple
10:47
#E4E4E4 white
*/
html{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
header{
    background-color: purple; 
    height: 20rem;
    text-align: center;
    color: #fff;

}
h1{
    padding-top: 7rem;
}
section{
    height: auto;
    background-color: white;
    text-align: center;
    height: 21rem;
    padding-top: 2rem;
    padding-bottom: 3rem;

}

.product-list{
    background-color: #04091E;
    font-size: .9rem;
    height: 19rem;
}
.product-list img{
    height: 17rem;
    width: 21rem;
}
.product-list6items{
    background-color: #04091E;
    font-size: .9rem;
    height: 25rem;
}
.product-list6items img{
    height: 10rem;
}
ul{
    width: 100%;
    list-style: none;
    height: 9rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

li{
    
    flex: 50%;   
    color: linen;
    border-radius: 5px;
    
}
img{
    height: 10rem;
    width: 12rem;
    cursor: pointer;
}

/*HIDE WHITE BOX*/
/*puma marathon*/
.shoeOneA{
    display: none;    
}

.shoeOneB{
    display: none;    
}

.shoeOneC{
    display: none;    
}


/*puma*/
.shoeTwoA{
    display: none;    
}
.shoeTwoB{
    display: none;    
}
.shoeTwoC{
    display: none;    
}

/*adidas*/
.shoeThreeA{
    display: none;    
}
.shoeThreeB{
    display: none;    
}
.shoeThreeC{
    display: none;    
}
.shoeThreeD{
    display: none;    
}
.shoeThreeE{
    display: none;    
}
.shoeThreeF{
    display: none;    
}
/*vans*/
.shoeFourA{
    display: none;    
}
.shoeFourB{
    display: none;    
}
.shoeFourC{
    display: none;    
}
.shoeFourD{
    display: none;    
}
.shoeFourE{
    display: none;    
}
.shoeFourF{
    display: none;    
}
/*converse*/
.shoeFiveA{
    display: none;    
}
.shoeFiveB{
    display: none;    
}
.shoeFiveC{
    display: none;    
}
.shoeFiveD{
    display: none;    
}
.shoeFiveE{
    display: none;    
}
.shoeFiveF{
    display: none;    
}


/*underamour*/
.shoeSixA{
    display: none;    
}
.shoeSixB{
    display: none;    
}
.shoeSixC{
    display: none;    
}
/*clarks*/
.shoeSevenA{
    display: none;    
}
.shoeSevenB{
    display: none;    
}
.shoeSevenC{
    display: none;    
}
.shoeSevenD{
    display: none;    
}
.shoeSevenE{
    display: none;    
}
.shoeSevenF{
    display: none;    
}


