/*
#04091E dark purple
10:46
#FCB100 yellow
10:47
#251E51 purple
10:47
#E4E4E4 white
*/
html{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
header{
    background-color: purple; 
    height: 20rem;
    text-align: center;
    color: #fff;

}
h1{
    padding-top: 7rem;
}
section{
    height: auto;
    background-color: white;
    text-align: center;
    height: 21rem;
    padding-top: 2rem;
    padding-bottom: 3rem;

}

.product-list{
    background-color: #04091E;
    font-size: .9rem;
    height: 19rem;
}
.product-list img{
    height: 17rem;
    width: 21rem;
    border-radius: 5px;
}
.product-list img:hover{
    height: 16rem;
    width: 20rem;
}
.product-list6items{
    background-color: #04091E;
    font-size: .9rem;
    height: 25rem;
}
.product-list6items img{
    height: 10rem;
    width: 15rem;
    border-radius: 5px;
}
.product-list6items img:hover{
   opacity: .6;
}
.row{
    display: flex;
    text-align: center;
}
.column{
    flex: 30%;

}
img{
    height: 10rem;
    width: 12rem;
    cursor: pointer;
}
.whiteBox{
    position: absolute;
    pointer-events: none;
    margin-top: -9rem;
    margin-left: 8rem;
    font-weight: bold;
    position: absolute;
    height: auto;
    width: 9rem;
    border-radius: 2px;
    display: none;
    text-align: center;
    color: rgb(49, 2, 2);
    background-color: #fff;
    
}
